# Visual Studio
.vs/
out/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Compiled binaries
*.exe
#*.dll
#*.lib
*.pdb
*.ilk
*.exp
*.obj

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.idea/
build_local/
build/
build_local_debug/
build_editor/
